<DOCTYPE html>
    <html>
<head>
    <title>HomePage!</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Enter a span of two years</h1>

    <form method="post">
        <label name="firstYear">First Year</label>
        <input name="firstYumber" type="number" />

        <label name="secondYear">Second Year</label>
        <input name="secondYear" type="number" />

        <button type="submit">SUBMIT!</button>
    </form>


</body>
</html>
</DOCTYPE>