<DOCTYPE html>
    <html>
<head>
    <title>HomePage!</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>HElloWorld</h1>
    <p>This is our demo</p>

    <form method="post">
        <label name="firstNumber">First Number</label>
        <input name="firstNumber" type="number" />

        <label name="secondNumber">Second Number</label>
        <input name="secondNumber" type="number" />

        <button type="submit">SUBMIT!</button>
    </form>


</body>
</html>
</DOCTYPE>