<DOCTYPE html>
    <html>
<head>
    <title>HomePage!</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Person of the Year</h1>

    <form method="post">
        <label name="firstYear">First Year</label>
        <input name="firstYumber" type="number" />

        <label name="secondYear">Second Year</label>
        <input name="secondYear" type="number" />

        <button type="submit">SUBMIT!</button>
    </form>

    <div class="img">
        <img src="https://c1.staticflickr.com/4/3231/3142216126_c66d9ff7b6_b.jpg" alt="Alternate Text" />
    </div>


</body>
</html>
</DOCTYPE>