<DOCTYPE html>
    <html>
    <head>
        <title>Results</title>
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <h1>HElloWorld</h1>
        <p>RESULTS Of NUMEBERS</p>

    </body>
</html>
</DOCTYPE>